/* ********* Reset CSS ********* */

:root {
    --main-font: sans-serif;
    --font-size: 16px;
    --main-color: #f7df1e;
    --second-color: #222;
    --main-modal-color: rgba(247, 222, 30, 0.85);
    --second-modal-color: rgba(34, 34, 34, 0.85);
    --container-width: 1200px;
}

html {
    box-sizing: border-box;
    font-family: var(--main-font);
    font-size: 62.5%;
    scroll-behavior: smooth;
}
*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    overflow-x: hidden;
    background-color: #ecfdfb;
}

img {
    max-width: 100%;
    height: auto;
}

/* ********* Calculator CSS ********* */

.dark-mode {
    background-color: var(--second-color) !important;
    color: #fff !important;
}
header {
    height: 10vh;
    display: grid;
    align-content: center;
    padding: 30px 0;
    .title {
        color: #222;
        text-align: center;
        text-transform: uppercase;
        font-size: clamp(1.2rem, 6vw, 2.5rem);
        font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
            Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
            sans-serif;
    }
    .dark-theme-btn {
        width: clamp(6rem, 16vw, 7rem);
        height: clamp(6rem, 16vw, 7rem);
        font-size: clamp(3rem, 8.5vw, 4rem);
        padding-top: 4px;
        text-align: center;
        position: fixed;
        z-index: 999;
        bottom: 0.8vh;
        right: 2vw;
        border-radius: 50%;
        font-weight: bold;
        background-color: var(--main-color);
        color: var(--second-color);
        cursor: pointer;
        outline: 0;
        border: 0;
        transition: all 0.3s ease-out;
    }
    .dark-theme-btn:hover {
        background-color: var(--second-color);
        color: var(--main-color);
    }
    .dark-theme-btn:active {
        animation: iconRotate 0.1s linear;
    }
}

main {
    width: 100%;
    height: 100vh;
    display: grid;
    place-content: center;
    .calculator {
        position: relative;
        margin: 0 auto;
        padding: 40px 20px;
        display: grid;
        place-content: center;
        border-radius: 18px;
        background: #e0f8f5;
        box-shadow: 10px 10px 20px #bdcac9, -10px -10px 20px #ffffff;
        .calc-model {
            font-size: 12px;
            color: #222;
            position: absolute;
            text-align: end;
            right: 12px;
            top: 12px;
        }
        .calc-display {
            height: 120px;
            background-color: #f5f5f5;
            color: #222;
            font-size: 32px;
            text-align: end;
            padding: 10px;
            border: solid 1px #bebebe;
            border-radius: 4px;
            margin: 10px 0 25px;
        }
    }
    .calc-btns {
        width: 100%;
        gap: 10px;
        display: grid;
        justify-items: center;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(4, 1fr);

        .btn {
            display: grid;
            place-content: center;
            width: clamp(3rem, 13vw, 5rem);
            height: clamp(3rem, 13vw, 5rem);
            font-size: 24px;
            font-weight: bold;
            color: #222;
            border: none;
            transition: all 0.02s ease;
            border-radius: 50%;
            background: linear-gradient(145deg, #e4f5f3, #c0cecc);
            box-shadow: 9px 9px 18px #b3c0bf, -9px -9px 18px #f7ffff;
        }
        .btn:hover {
            cursor: pointer;
            scale: 0.95;
            background-color: #e6e6e6;
        }
        .btn:active {
            scale: 0.9;
            border-radius: 50%;
            background: linear-gradient(145deg, #c0cecc, #e4f5f3);
            box-shadow: 10px 10px 20px #aab7b6, -10px -10px 20px #ffffff;
        }

        .btn:nth-child(4),
        .btn:nth-child(5),
        .btn:nth-child(6) {
            grid-area: 2;
        }

        .btn:nth-child(7),
        .btn:nth-child(8),
        .btn:nth-child(9) {
            grid-area: 3;
        }

        .btn:nth-child(10) {
            grid-area: 4 / 2;
        }

        .btn:nth-child(11) {
            grid-area: 4 / 3;
        }

        .btn:nth-child(12) {
            grid-area: 3 / 5 / span 2 / span 1;
            height: 100%;
            border-radius: 6px;
        }
    }
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
    span {
        font-size: 1.4rem;
        text-align: center;
    }
    img {
        width: 60px;
        height: 60px;
        cursor: pointer;
    }
    img:hover {
        scale: 1.1;
        animation: iconRotate 1s linear infinite;
    }
    img:active {
        scale: 0.9;
        animation: none;
    }
    @keyframes iconRotate {
        from {
            transform: rotateY(0deg);
        }
        to {
            transform: rotateY(360deg);
        }
    }
}
